<div class="p-3 p-lg-5">
  <div id="itemList" class="header d-flex justify-between w-100">
    <div class="title w-75">
      <h1>Item List</h1>
    </div>
    <div class="header-action w-25" *ngIf="!showDetails">
      <button type="button" class="btn btn-secondary btn-sm"
        (click)="addNew()">
        <fa-icon [icon]="faPlusCircle"></fa-icon>
      </button>
    </div>
  </div>
  <hr>
  <div class="col-12 px-0">
    <form [formGroup]="searchForm">
      <div class="input-group mb-3">
        <input type="text" class="form-control"
          placeholder="Search item"
          formControlName="filter"
          [attr.disabled]="!showList">
        <div class="input-group-append">
          <span class="input-group-text">
            <fa-icon [icon]="faSearch"></fa-icon>
          </span>
        </div>
      </div>
    </form>
  </div>

  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="'card'" [destroyOnHide]="true">
      <a ngbNavLink>
        <fa-icon [icon]="faCreditCard"></fa-icon>
      </a>
      <ng-template ngbNavContent *ngIf="(products$ | async) as products">
        <div class="card-container">
          <div *ngIf="products.length && showList">
            <div class="card w-100 mb-2" *ngFor="let product of products">
              <div *ngIf="editingItem !== product._id">
                <img class="card-img-top" [src]="product.imgUrl" alt="Card image cap" *ngIf="!!product.imgUrl">
                <div class="card-body">
                  <h5 class="card-title text-uppercase"><strong>{{ product.name }}</strong></h5>
                  <div class="form-group">
                    <textarea type="text" class="form-control" placeholder="Pricing Details"
                      rows="5"
                      disabled="false"
                      [(ngModel)]="product.pricingDetails">
                    </textarea>
                  </div>
  
                  <div class="d-flex justify-content-between">
                    <!-- <div class="price-container">
                      <div><span>Php </span><strong>{{ product.sellingPrice }}</strong></div>
                    </div> -->
                    <div class="action-container">
                      <button type="button" class="btn btn-primary btn-sm" 
                        *ngIf="editingItem !== product._id"
                        (click)="editItem(product)">
                        <fa-icon [icon]="faPen"></fa-icon>
                      </button>
                      <button type="button" class="btn btn-primary btn-sm" 
                        *ngIf="editingItem === product._id"
                        (click)="editItem(null)">
                        Cancel
                      </button>
                      <button type="button" class="btn btn-danger btn-sm" 
                        (click)="deleteItem(product)"
                        *ngIf="editingItem !== product._id">
                          <fa-icon [icon]="faTimesCircle"></fa-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!products.length && !showForm">
            <div class="no-content">
              <div>
                <p>No Items yet.</p>
                <button class="btn btn-primary" (click)="addNew()">Add now!</button>
              </div>
            </div>
          </div>
          <div class="p-3" *ngIf="showForm">
            <form id="itemForm" [formGroup]="form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Item name"
                  formControlName="name">
              </div>
              <div class="form-group">
                <textarea type="text" class="form-control" placeholder="Feature"
                  rows="5"
                  formControlName="shortDescription">
                </textarea>
              </div>
              <div class="form-group">
                <textarea type="text" class="form-control" placeholder="Details"
                  rows="5"
                  formControlName="detailedDescription">
                </textarea>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Supplier"
                  formControlName="supplier">
              </div>
              <div class="form-group">
                <textarea type="text" class="form-control" placeholder="Pricing Details"
                  rows="5"
                  formControlName="pricingDetails">
                </textarea>
              </div>
              <!-- <div class="form-group">
                <input type="number" class="form-control" placeholder="Bought at"
                  formControlName="supplierPrice">
              </div>
              <div class="form-group">
                <input type="number" class="form-control" placeholder="Sold at"
                  formControlName="sellingPrice">
              </div> -->
              <!-- <div class="form-group">
                <input type="text" class="form-control" placeholder="SKU"
                  formControlName="sku">
              </div> -->
        
              <div class="d-md-flex">
                <button type="button" class="btn btn-success w-100"
                  [disabled]="form.invalid || form.pristine"
                  *ngIf="!!selectedItem"
                  (click)="save()">
                  {{ this._id ? 'Update' : 'Save'}}
                </button>
                <button type="button" class="btn btn-success w-100"
                  [disabled]="form.invalid || form.pristine"
                  *ngIf="!selectedItem"
                  (click)="save()">
                  Save
                </button>
                <button type="button" class="btn btn-warning w-100" 
                  (click)="cancelEdits()">Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="'table'" [destroyOnHide]="true">
      <a ngbNavLink><fa-icon [icon]="faTable"></fa-icon></a>
      <ng-template ngbNavContent *ngIf="(products$ | async) as products">
        <div class="list-container col-md-9 p-0">
          <table class="table table-striped">
            <thead class="table-heading">
              <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Bought at</th>
                <th scope="col">Sold at</th>
                <th scope="col">Supplier</th>
              </tr>
            </thead>
            <tbody class="item-list">
              <tr *ngFor="let product of products" (click)="selectItem(product)">
                <td>{{product.name}}</td>
                <td>{{product.supplierPrice}}</td>
                <td>{{product.sellingPrice}}</td>
                <td>{{product.supplier}}</td>
              </tr>
      
              <tr class="empty-list" *ngIf="!selectedItem">
                <td class="text-center" colspan="4">No items found in the list.</td>
              </tr>
            </tbody>
          </table>
        </div>
      
        <div id="itemDetails" class="col-md-3 mb-5 px-0" *ngIf="showDetails">
          <div class="header d-flex justify-between w-100 mb-3">
            <div class="w-75">
              <h2>Details</h2>
            </div>
            <div class="header-action w-25">
              <button type="button" class="btn btn-primary btn-sm"
                (click)="showDetails = false">
                <fa-icon [icon]="faEyeSlash"></fa-icon>
              </button>
              <button type="button" class="btn btn-secondary btn-sm"
                (click)="addNew()"
                *ngIf="!isAdding">
                <fa-icon [icon]="faPlusCircle"></fa-icon>
              </button>
            </div>
          </div>
          <form id="itemForm" [formGroup]="form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Item name"
                formControlName="name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Desrcription"
                formControlName="shortDescription">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Details"
                formControlName="detailedDescription">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Supplier"
                formControlName="supplier">
            </div>
            <div class="form-group">
              <input type="number" class="form-control" placeholder="Bought at"
                formControlName="supplierPrice">
            </div>
            <div class="form-group">
              <input type="number" class="form-control" placeholder="Sold at"
                formControlName="sellingPrice">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="SKU"
                formControlName="sku">
            </div>
      
            <div class="d-md-flex">
              <button type="button" class="btn btn-success w-100"
                [disabled]="form.invalid || form.pristine"
                *ngIf="!isAdding"
                (click)="save()">
                {{ this._id ? 'Update' : 'Save'}}
              </button>
              <button type="button" class="btn btn-success w-100"
                [disabled]="form.invalid || form.pristine"
                *ngIf="isAdding"
                (click)="save()">
                Save
              </button>
              <button type="button" class="btn btn-warning w-100" 
                (click)="cancelEdits()"
                *ngIf="!form.pristine || isAdding">Cancel
              </button>
              <button type="button" class="btn btn-danger w-100" 
                (click)="deleteItem()"
                *ngIf="!isAdding">Delete
              </button>
            </div>
          </form>
        </div>
      </ng-template>
    </li>
  </ul>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>